# Compiled
*.elc
\#?*#

# ignored directories
el-get/
elpa/
ac-comphist.dat
auto-save-list/
*~

# projectile
projectile.cache
projectile-bookmarks.eld

# workgroups2
.emacs_workgroups

# emacs places
.emacs-places

# Cask
.cask/
/.mc-lists.el
/.smex-items
/ido.hist
/var/
/semanticdb/
/init/Emacs/flycheck_init-my-emacs-package-management.el

/customize.el
/.recentf
/temp/
/recentf
/octave-workspace
/.temp/recentf
/emms/history
/TAGS
/eshell/
/url/
/irony/
/javadoc-cache/
/request/
/init/.#init-my-pm-el-get.el
/.org-annotated.org
