# Compiled
*.elc
\#?*#

# ignored directories
el-get/
elpa/
# el-get-user/
ac-comphist.dat
auto-save-list/
*~
tramp

# Org-mode
org-clock-save.el

# projectile
projectile.cache
projectile-bookmarks.eld

# workgroups2
# .emacs_workgroups

# emacs places
.emacs-places

# Cask
.cask/
# /.mc-lists.el
/.smex-items
/ido.hist
/var/
/semanticdb/

flycheck_

# /customize.el
/.recentf
/temp/
/recentf
/octave-workspace
/.temp/recentf
/emms/history
/TAGS
/eshell/
/url/
/irony/
/javadoc-cache/
/request/
/.org-annotated.org

/GPATH
/GRTAGS
/GSYMS
/GTAGS

emms/

/.org-id-locations
/init/init-my-startup.fas
/init/init-my-startup.lib
/rake.cache
/.elfeed/
/ido.last
/org-clock-save.el
/.edbi-ds-history
image-dired/
/.company-statistics-cache.el
/srecode-map.el
/network-security.data

/cscope.files
/cscope.in.out
/cscope.out
/cscope.po.out

.sx/
.bts/
/anaconda-mode/
/games
/newsticker

.python-environments/
/ensime/

/Gnus/
/pyim/cache/
/session.*
/init/programming/languages/Java/workbench.xmi
/.flycheck_tramp

/.desktop-save/*
*.desktop
*.desktop.lock
server/
exwm-x/
.trello/
quelpa/
/history
/Org-mode/.lein-env
/cnfonts/
pyim/
/nov-places
/data/auto
/init/extra/meghanada/
/.cache/

# lsp-mode related
/php-language-server/
/gotools/

/site-lisp/

# ProofGeneral
/site-lisp/ProofGeneral/
/init/Emacs/PG/
/.lsp-session*
/forge-database.sqlite
/elfeed/
/transient/
/elpy/
/documentations/HyperSpec/
/aria2-controller.eieio
